<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <!-- linking css files just put in boilerplate.ejs file -->
</head>
<body>
    <div class="footer">
        <div class="icon">
            <i class="fa-brands fa-facebook"></i>  &nbsp;
            <i class="fa-brands fa-instagram"></i>  &nbsp;
            <i class="fa-brands fa-youtube"></i> &nbsp;
        </div>
     <br>
        <div class="write">
            <p>&copy;airbnb clone 2025</p>
        </div>

        <div class="links">
            <a>privacy</a> &nbsp;
            <a>Teams</a>  &nbsp;
            <a>community</a>  &nbsp;
        </div>
    </div>
</body>
</html>