<% layout("/layout/boilerplate.ejs") -%>
<body>

    <h2>Create</h2>
   <br>
    <div class="form" class="row offset-1" >
    <form class="offset-2 needs-validation"  method="post" action="/listing/create"  novalidate enctype="multipart/form-data" >
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Name</label>
          <input type="text" class="form-control" id="inputEmail4"  name="listing[title]" placeholder="enter your name" required>
           <div class="invalid-feedback">
            Please choose a username.
           </div>
           <div class="valid-feedback">
            Looks good!
           </div>
        </div>
         <br> 
<!--          
         <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Image</label>
          <input type="text" class="form-control" id="inputEmail4"  name="listing[image.url]" placeholder="enter your name" required>
           <div class="invalid-feedback">
            Please choose a Image.
           </div>
           <div class="valid-feedback">
            Looks good!
           </div>
        </div> -->


        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Image</label>
          <input type="file" class="form-control" id="inputEmail4"  name="listing[image.url]" placeholder="enter your name" required>
           <div class="invalid-feedback">
            Please choose a Image.
           </div>
           <div class="valid-feedback">
            Looks good!
           </div>
        </div>


        <br>
        <div class="col-md-6">
          <label for="inputAddress" class="form-label">description</label>
          <input type="text" class="form-control" name="listing[description]" placeholder="enter your description" required>
            <div class="invalid-feedback">
            Please provide a valid description.
            </div>
            <div class="valid-feedback">
              Looks good!
            </div>
        </div>
        <br> 

        <div class="col-md-6">
          <label for="inputCity" class="form-label">Location</label>
          <input type="text" class="form-control" name="listing[location]" placeholder="enter your location" required>
          <div class="invalid-feedback">
            Please provide a valid location.
          </div>
        </div>
        <br>

        <!-- //putting price and country in one row which price occupy 3 columns and country occupy 8 coulumns -->
         <div class="row">
        <div class="col-md-3">
            <label for="inputCity" class="form-label">price</label>
            <input type="number" class="form-control" name="listing[price]" placeholder="enter your price" required>
            <div class="invalid-feedback">
              Please provide a valid price.
            </div>
          </div>
        <br> 
        <div class="col-md-8">
          <label for="inputState" class="form-label">country</label>
          <input type="text" class="form-control" name="listing[country]" placeholder="enter your country" required>
          <div class="invalid-feedback">
            Please provide a valid country.
          </div>
        </div>
    </div>
    
        <br> 
        <button class="btn btn-dark">Add</button>
       
      </form>
      <br>
    </div>
    <br> <br> <br>






    <form class="row g-3 needs-validation" novalidate>
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">First name</label>
        <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom02" class="form-label">Last name</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">Username</label>
        <div class="input-group has-validation">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
          <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
          <div class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">City</label>
        <input type="text" class="form-control" id="validationCustom03" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-md-3">
        <label for="validationCustom04" class="form-label">State</label>
        <select class="form-select" id="validationCustom04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid state.
        </div>
      </div>
      <div class="col-md-3">
        <label for="validationCustom05" class="form-label">Zip</label>
        <input type="text" class="form-control" id="validationCustom05" required>
        <div class="invalid-feedback">
          Please provide a valid zip.
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
      </div>
    </form>


</body>
