<% layout("/layout/boilerplate.ejs") -%>

<style>

.image{
    height: 400px;
    width: 500px;
}



</style>

<body>
    
  <div class="offset-4 mt-5">
         <img  class="image" src="images\explore.jpg"/>
  </div>



</body>